   <section class="main-slider">

    <div class="main-slider-area">
       
        <div class="main-slider-item" >
            <!-- <img src="~/client/assests/images/slider_bg04.jpg" alt=""> -->
            <div class="slider-texts" style="background-image: url(client/assests/images/slider_bg04.jpg);">

                <div class="slider-text-area">

                    <div class="slider-item-title">
                        TOP
                        <span>DEAL !</span>
                    </div>
                    <div class="slider-item-content">
                        <span>ONLINE PHARAMCY</span>
                    </div>
                    <p class="slider-item-desc">
                        Get up to 50% off Today Only
                    </p>
                    <div class="slider-item-btn">
                        <a href="">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider-item" >
            <!-- <img src="~/client/assests/images/slider_bg04.jpg" alt=""> -->
            <div class="slider-texts" style="background-image: url(client/assests/images/slider_bg03.jpg);">

                <div class="slider-text-area">

                    <div class="slider-item-title">
                        TOP
                        <span>DEAL !</span>
                    </div>
                    <div class="slider-item-content">
                        <span>ONLINE PHARAMCY</span>
                    </div>
                    <p class="slider-item-desc">
                        Get up to 50% off Today Only
                    </p>
                    <div class="slider-item-btn">
                        <a href="">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
       
      
    </div>

   </section>

  <section class="best-products">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-4 col-12">
                <div class="bp-item">
                    <div class="bp-content">
                        <span>beauty pack</span>
                        <h3 class="title"><a href="shop.html">cream bright <br> UP TO 25%</a></h3>
                        <a href="shop.html" class="bp-btn">shop now</a>
                    </div>
                    <div class="bp-image">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="bp-item">
                    <div class="bp-content">
                        <span>beauty pack</span>
                        <h3 class="title"><a href="shop.html">cream bright <br> UP TO 25%</a></h3>
                        <a href="shop.html" class="bp-btn">shop now</a>
                    </div>
                    <div class="bp-image">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="bp-item">
                    <div class="bp-content">
                        <span>beauty pack</span>
                        <h3 class="title"><a href="shop.html">cream bright <br> UP TO 25%</a></h3>
                        <a href="shop.html" class="bp-btn">shop now</a>
                    </div>
                    <div class="bp-image">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="popular-categories">
    <div class="container">
        <div class="row">
            <div class="pc-text">
                <div class="col-lg-6">
                    <div class="pc-text-content">
                        <p>Explore</p>
                        <h3>POPULAR CATEGORIES</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pc-view-all">
                        <a href="">View All</a>
                    </div>
                </div>
            </div>
        </div>

            <div class="best-product-slider">
                <div class="pb-slider-item ">

                    <a href="">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                        <span>Health & Plan</span>
                    </a>
                </div>
                <div class="pb-slider-item">

                    <a href="">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                        <span>Health & Plan</span>
                    </a>
                </div>
                <div class="pb-slider-item ">

                    <a href="">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                        <span>Health & Plan</span>
                    </a>
                </div>
                <div class="pb-slider-item ">

                    <a href="">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                        <span>Health & Plan</span>
                    </a>
                </div>
                <div class="pb-slider-item ">

                    <a href="">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                        <span>Health & Plan</span>
                    </a>
                </div>
                <div class="pb-slider-item ">

                    <a href="">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                        <span>Health & Plan</span>
                    </a>
                </div>
                <div class="pb-slider-item ">

                    <a href="">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                        <span>Health & Plan</span>
                    </a>
                </div>
                <div class="pb-slider-item ">

                    <a href="">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                        <span>Health & Plan</span>
                    </a>
                </div>
                <div class="pb-slider-item ">

                    <a href="">
                        <img src="~/client/assests/images/product1.jpeg" alt="">
                        <span>Health & Plan</span>
                    </a>
                </div>

        </div>
    </div>
  </section>

  <section class="popolar-products">
    <div class="container">
        <div class="pp-sldier-texts">
            <p>OUR SHOP</p>
            <h3>DISCOUNTED PRODUCTS</h3>
        </div>
        <div class="pp-slider-area">
    
                <div class="col-lg gap-2">
        
                    <div class="pp-slider-item">
                        <div class="pp-item-img">
                            <a href="">

                                <img src="~/client/assests/images/shop_img01.jpg" alt="">
                            </a>
                        </div>
                        <div class="pp-item-content">
                            <p class="pp-item-category">Sanitizers</p>
                            <div class="pp-item-title">
                                <a>Karela Jamun Juice</a> 
                            </div>
                            <div class="pp-item-rate">
                                <span class="rate-star">
                                    3.2
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="rate-count">349 Ratings</span>
                            </div>
                            <div class="pp-item-discount">
                                <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                <span class="pp-item-discount-percent">6 OFF</span>
                            </div>
                            <div class="pp-item-shop">
                                <span class="pp-item-price">$97.00</span>
                                <button class="modal-trigger">Show</button>
                                <a href="">ADD +</a>
            
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg gap-2">
        
                    <div class="pp-slider-item">
                        <div class="pp-item-img">
                            <a href="">

                                <img src="~/client/assests/images/shop_img01.jpg" alt="">
                            </a>
                        </div>
                        <div class="pp-item-content">
                            <p class="pp-item-category">Sanitizers</p>
                            <div class="pp-item-title">
                                <a>Karela Jamun Juice</a> 
                            </div>
                            <div class="pp-item-rate">
                                <span class="rate-star">
                                    3.2
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="rate-count">349 Ratings</span>
                            </div>
                            <div class="pp-item-discount">
                                <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                <span class="pp-item-discount-percent">6 OFF</span>
                            </div>
                            <div class="pp-item-shop">
                                <span class="pp-item-price">$97.00</span>
                                <button class="modal-trigger">Show</button>
                                <a href="">ADD +</a>
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg gap-2">
        
                    <div class="pp-slider-item">
                        <div class="pp-item-img">
                            <a href="">

                                <img src="~/client/assests/images/shop_img01.jpg" alt="">
                            </a>
                        </div>
                        <div class="pp-item-content">
                            <p class="pp-item-category">Sanitizers</p>
                            <div class="pp-item-title">
                                <a>Karela Jamun Juice</a> 
                            </div>
                            <div class="pp-item-rate">
                                <span class="rate-star">
                                    3.2
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="rate-count">349 Ratings</span>
                            </div>
                            <div class="pp-item-discount">
                                <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                <span class="pp-item-discount-percent">6 OFF</span>
                            </div>
                            <div class="pp-item-shop">
                                <span class="pp-item-price">$97.00</span>
                                <button class="modal-trigger">Show</button>
                                <a href="">ADD +</a>
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg gap-2">
        
                    <div class="pp-slider-item">
                        <div class="pp-item-img">
                            <a href="">

                                <img src="~/client/assests/images/shop_img01.jpg" alt="">
                            </a>
                        </div>
                        <div class="pp-item-content">
                            <p class="pp-item-category">Sanitizers</p>
                            <div class="pp-item-title">
                                <a>Karela Jamun Juice</a> 
                            </div>
                            <div class="pp-item-rate">
                                <span class="rate-star">
                                    3.2
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="rate-count">349 Ratings</span>
                            </div>
                            <div class="pp-item-discount">
                                <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                <span class="pp-item-discount-percent">6 OFF</span>
                            </div>
                            <div class="pp-item-shop">
                                <span class="pp-item-price">$97.00</span>
                                <button class="modal-trigger">Show</button>
                                <a href="">ADD +</a>
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg gap-2">
        
                    <div class="pp-slider-item">
                        <div class="pp-item-img">
                            <a href="">

                                <img src="~/client/assests/images/shop_img01.jpg" alt="">
                            </a>
                        </div>
                        <div class="pp-item-content">
                            <p class="pp-item-category">Sanitizers</p>
                            <div class="pp-item-title">
                                <a>Karela Jamun Juice</a> 
                            </div>
                            <div class="pp-item-rate">
                                <span class="rate-star">
                                    3.2
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="rate-count">349 Ratings</span>
                            </div>
                            <div class="pp-item-discount">
                                <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                <span class="pp-item-discount-percent">6 OFF</span>
                            </div>
                            <div class="pp-item-shop">
                                <span class="pp-item-price">$97.00</span>
                                <button class="modal-trigger">Show</button>
                                <a href="">ADD +</a>
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg gap-2">
        
                    <div class="pp-slider-item">
                        <div class="pp-item-img">
                            <a href="">

                                <img src="~/client/assests/images/shop_img01.jpg" alt="">
                            </a>
                        </div>
                        <div class="pp-item-content">
                            <p class="pp-item-category">Sanitizers</p>
                            <div class="pp-item-title">
                                <a>Karela Jamun Juice</a> 
                            </div>
                            <div class="pp-item-rate">
                                <span class="rate-star">
                                    3.2
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="rate-count">349 Ratings</span>
                            </div>
                            <div class="pp-item-discount">
                                <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                <span class="pp-item-discount-percent">6 OFF</span>
                            </div>
                            <div class="pp-item-shop">
                                <span class="pp-item-price">$97.00</span>
                                <button class="modal-trigger">Show</button>
                                <a href="">ADD +</a>
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg gap-2">
        
                    <div class="pp-slider-item">
                        <div class="pp-item-img">
                            <a href="">

                                <img src="~/client/assests/images/shop_img01.jpg" alt="">
                            </a>
                        </div>
                        <div class="pp-item-content">
                            <p class="pp-item-category">Sanitizers</p>
                            <div class="pp-item-title">
                                <a>Karela Jamun Juice</a> 
                            </div>
                            <div class="pp-item-rate">
                                <span class="rate-star">
                                    3.2
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="rate-count">349 Ratings</span>
                            </div>
                            <div class="pp-item-discount">
                                <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                <span class="pp-item-discount-percent">6 OFF</span>
                            </div>
                            <div class="pp-item-shop">
                                <span class="pp-item-price">$97.00</span>
                                <button class="modal-trigger">Show</button>
                                <a href="">ADD +</a>
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg gap-2">
        
                    <div class="pp-slider-item">
                        <div class="pp-item-img">
                            <a href="">

                                <img src="~/client/assests/images/shop_img01.jpg" alt="">
                            </a>
                        </div>
                        <div class="pp-item-content">
                            <p class="pp-item-category">Sanitizers</p>
                            <div class="pp-item-title">
                                <a>Karela Jamun Juice</a> 
                            </div>
                            <div class="pp-item-rate">
                                <span class="rate-star">
                                    3.2
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="rate-count">349 Ratings</span>
                            </div>
                            <div class="pp-item-discount">
                                <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                <span class="pp-item-discount-percent">6 OFF</span>
                            </div>
                            <div class="pp-item-shop">
                                <span class="pp-item-price">$97.00</span>
                                <button class="modal-trigger">Show</button>
                                <a href="">ADD +</a>
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg gap-2">
        
                    <div class="pp-slider-item">
                        <div class="pp-item-img">
                            <a href="">

                                <img src="~/client/assests/images/shop_img01.jpg" alt="">
                            </a>
                        </div>
                        <div class="pp-item-content">
                            <p class="pp-item-category">Sanitizers</p>
                            <div class="pp-item-title">
                                <a>Karela Jamun Juice</a> 
                            </div>
                            <div class="pp-item-rate">
                                <span class="rate-star">
                                    3.2
                                    <i class="far fa-star"></i>
                                </span>
                                <span class="rate-count">349 Ratings</span>
                            </div>
                            <div class="pp-item-discount">
                                <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                <span class="pp-item-discount-percent">6 OFF</span>
                            </div>
                            <div class="pp-item-shop">
                                <span class="pp-item-price">$97.00</span>
                                <button class="modal-trigger">Show</button>
                                <a href="">ADD +</a>
            
                            </div>
                        </div>
                    </div>
                </div>
           
              
              
                
        </div>
    </div>
  </section>

  <section class="discount-banner">

    <div class="container">

        <div class="discount-banner-content" style="background-image: url(/assests/images/discount_bg.jpg)">
            <span>medical pack</span>
            <a class="db-title" href="">Lab Face Mask <br>  UP TO 25%</a>
            <p class="db-desc">Want everyone to see it and find myself sharing the link</p>
            <a class="db-btn" href="">Shop Now</a>
        </div>
    </div>
  </section>

  <section class="weekly-discount">
    <div class="container">
        <div class="wed-content">
            <h4 class="wed-title">DEAL OF THIS WEEK</h4>
            <p>Want everyone to see it and find myself sharing the link anywhere</p>
        </div>
        <div class="wd-slider-area">

                <div class="col-lg-3 gap-2">
            
                    <div class="wd-slider-item">
                        <div class="wd-item-img">
                            <img src="~/client/assests/images/deal_week_img01.jpg" alt="">
                        </div>
                        <div class="wd-content">
                            <span>medical</span>
                            <div class="wd-title">
                                <a href="shop.html">Temperature UP TO 25%</a></div>
                            <a href="shop.html" class="wd-btn">shop now</a>
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-3 gap-2">
            
                    <div class="wd-slider-item">
                        <div class="wd-item-img">
                            <img src="~/client/assests/images/deal_week_img01.jpg" alt="">
                        </div>
                        <div class="wd-content">
                            <span>medical</span>
                            <div class="wd-title">
                                <a href="shop.html">Temperature UP TO 25%</a></div>
                            <a href="shop.html" class="wd-btn">shop now</a>
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-3 gap-2">
            
                    <div class="wd-slider-item">
                        <div class="wd-item-img">
                            <img src="~/client/assests/images/deal_week_img01.jpg" alt="">
                        </div>
                        <div class="wd-content">
                            <span>medical</span>
                            <div class="wd-title">
                                <a href="shop.html">Temperature UP TO 25%</a></div>
                            <a href="shop.html" class="wd-btn">shop now</a>
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-3 gap-2">
            
                    <div class="wd-slider-item">
                        <div class="wd-item-img">
                            <img src="~/client/assests/images/deal_week_img01.jpg" alt="">
                        </div>
                        <div class="wd-content">
                            <span>medical</span>
                            <div class="wd-title">
                                <a href="shop.html">Temperature UP TO 25%</a></div>
                            <a href="shop.html" class="wd-btn">shop now</a>
                        </div>
                      
                    </div>
                </div>
              
         
        </div>
    </div>
  </section>

  <section class="feauters-products">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="tab-desc">

                    <div class="tab-title-area">
                        <p>OUR SHOP</p>
                        <h3>FEATURES PRODUCTS</h3>
                    </div>
                    <ul class="nav product-tab-nav tab-style-1"
                        id="myTab"
                        role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active"
                               id="featured-tab"
                               data-bs-toggle="tab"
                               href="#featured"
                               role="tab"
                               aria-controls="featured"
                               aria-selected="true">
                                Best Seller
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="bestseller-tab"
                               data-bs-toggle="tab"
                               href="#bestseller"
                               role="tab"
                               aria-controls="bestseller"
                               aria-selected="false">
                                Top Reated
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="latest-tab"
                               data-bs-toggle="tab"
                               href="#latest"
                               role="tab"
                               aria-controls="latest"
                               aria-selected="false">
                                Popular
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active"
                         id="featured"
                         role="tabpanel"
                         aria-labelledby="featured-tab">
                        <div class="product-item-wrap row ">


                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         id="bestseller"
                         role="tabpanel"
                         aria-labelledby="bestseller-tab">
                        <div class="product-item-wrap row">
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         id="latest"
                         role="tabpanel"
                         aria-labelledby="latest-tab">
                        <div class="product-item-wrap row">
                       
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap-2 m-2">
        
                                <div class="pp-slider-item">
                                    <div class="pp-item-img">
                                        <img src="~/client/assests/images/shop_img01.jpg" alt="">
                                    </div>
                                    <div class="pp-item-content">
                                        <p class="pp-item-category">Sanitizers</p>
                                        <div class="pp-item-title">
                                            <a>Karela Jamun Juice</a> 
                                        </div>
                                        <div class="pp-item-rate">
                                            <span class="rate-star">
                                                3.2
                                                <i class="far fa-star"></i>
                                            </span>
                                            <span class="rate-count">349 Ratings</span>
                                        </div>
                                        <div class="pp-item-discount">
                                            <span class="pp-item-old-price">OLD PRICE <del>$300</del></span>
                                            <span class="pp-item-discount-percent">6 OFF</span>
                                        </div>
                                        <div class="pp-item-shop">
                                            <span class="pp-item-price">$97.00</span>
                                            <button class="modal-trigger">Show</button>
                                            <a href="">ADD +</a>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>


  <section class="feedback-area">
    <div class="container">

        <div class="feedback-content">
            <h4>OUR CLIENT SAYS</h4>
            <p>Want everyone to see it and find myself sharing</p>
        </div>
        <div class="feed-back-slider">


                <div class="fb-slider-item mt-2">
                    <div class="fb-img">
                        <img src="~/client/assests/images/testimonial_img02.png" alt="">
                    </div>
                    <div class="fb-content">
                        <p>“ Want everyone to see and find myself sharing the link Lorem Ipsum is simply dummy text of printing typesing industry ”</p>
                        <div class="fb-avatar-info">
                            <h5 class="title">G. Faeian Felix</h5>
                            <span>Founder. CEO</span>
                            
                        </div>
                    </div>
                </div>

                <div class="fb-slider-item mt-2">
                    <div class="fb-img">
                        <img src="~/client/assests/images/testimonial_img02.png" alt="">
                    </div>
                    <div class="fb-content">
                        <p>“ Want everyone to see and find myself sharing the link Lorem Ipsum is simply dummy text of printing typesing industry ”</p>
                        <div class="fb-avatar-info">
                            <h5 class="title">G. Faeian Felix</h5>
                            <span>Founder. CEO</span>
                            
                        </div>
                    </div>
                </div>

                <div class="fb-slider-item mt-2">
                    <div class="fb-img">
                        <img src="~/client/assests/images/testimonial_img02.png" alt="">
                    </div>
                    <div class="fb-content">
                        <p>“ Want everyone to see and find myself sharing the link Lorem Ipsum is simply dummy text of printing typesing industry ”</p>
                        <div class="fb-avatar-info">
                            <h5 class="title">G. Faeian Felix</h5>
                            <span>Founder. CEO</span>
                            
                        </div>
                    </div>
                </div>
                <div class="fb-slider-item mt-2">
                    <div class="fb-img">
                        <img src="~/client/assests/images/testimonial_img02.png" alt="">
                    </div>
                    <div class="fb-content">
                        <p>“ Want everyone to see and find myself sharing the link Lorem Ipsum is simply dummy text of printing typesing industry ”</p>
                        <div class="fb-avatar-info">
                            <h5 class="title">G. Faeian Felix</h5>
                            <span>Founder. CEO</span>
                            
                        </div>
                    </div>
                </div>
              
        </div>
    </div>
  </section>

 
  <section class="blog-area">
    <div class="container">

        <div class="blog-content">
            <h3>LATEST NEWS & BLOG</h3>
            <p>Want everyone to see it and find myself sharing</p>
        </div>
    
        <div class="blog-slider-area">
            <div class="row">

            <div class="col-lg-4">
    
                <div class="blog-slider-item">
                    <div class="blog-slider-img">
                        <a href=""><img src="~/client/assests/images/blog_post_thumb01.jpg" alt=""></a>
                    </div>
                    <div class="blog-slider-content">
                        <a href="">Consectetur adipiscing Nullfrea felis commo facilisis.</a>
                        <p>Fusce quis neque id lectus tempor sodales a nunc. vulputate lorem egestas Sed.</p>
                    </div>
                    <div class="blog-slider-icons">
                        <div class="bs-link">
                            <span><i class="far fa-sticky-note"></i>In</span>
                            <a href="">News</a>
                            <span><i class="far fa-calendar"></i>Mar 10 2021</span>
                        </div>
                        <a href="">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
    
                <div class="blog-slider-item">
                    <div class="blog-slider-img">
                        <a href=""><img src="~/client/assests/images/blog_post_thumb01.jpg" alt=""></a>
                    </div>
                    <div class="blog-slider-content">
                        <a href="">Consectetur adipiscing Nullfrea felis commo facilisis.</a>
                        <p>Fusce quis neque id lectus tempor sodales a nunc. vulputate lorem egestas Sed.</p>
                    </div>
                    <div class="blog-slider-icons">
                        <div class="bs-link">
                            <span><i class="far fa-sticky-note"></i>In</span>
                            <a href="">News</a>
                            <span><i class="far fa-calendar"></i>Mar 10 2021</span>
                        </div>
                        <a href="">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
    
                <div class="blog-slider-item">
                    <div class="blog-slider-img">
                        <a href=""><img src="~/client/assests/images/blog_post_thumb01.jpg" alt=""></a>
                    </div>
                    <div class="blog-slider-content">
                        <a href="">Consectetur adipiscing Nullfrea felis commo facilisis.</a>
                        <p>Fusce quis neque id lectus tempor sodales a nunc. vulputate lorem egestas Sed.</p>
                    </div>
                    <div class="blog-slider-icons">
                        <div class="bs-link">
                            <span><i class="far fa-sticky-note"></i>In</span>
                            <a href="">News</a>
                            <span><i class="far fa-calendar"></i>Mar 10 2021</span>
                        </div>
                        <a href="">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
            
        </div>
    </div>
  </section>

